@charset "utf-8";
/* CSS Document */
#storbox
{
	background-color:#000;
	height:100%;
	width:100%;
	position:absolute;
}
header
{
	background-color:#64C0ED;
	height:20%;
	width:100%;
	float:left;
}
h1
{
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	margin-top:2%;
	margin-right:15%;
	font-size:600%;
}
h2
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:36px;
}
h4
{
	font-size:24px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:left;	
}
nav
{
	background-color:#063160;
	height:5%;
	width:100%;
	float:left;
}
article
{
	font-family:"Times New Roman", Times, serif;
	background-color:#1168D0;
	height:75%;
	width:80%;
	float:left;
	text-align:center;
	color:#FFF;
}
aside
{
	background-color:#1168D0;
	height:75%;
	width:20%;
	float:right;
	color:#FFF;
}
ul
{
	list-style:none;
	background-color:#444;
	text-align:center;
	padding:0;
	margin:0;
}
li
{
	color:#3FF;
	line-height:40px;
	height:100%;
	width:20%;
	float:left;
}
p
{
	text-align:left;
	font-size:18px;	
}
#Myntet
{
	float:left;	
}
a{
  -webkit-backface-visibility:hidden;
	position:relative;
  	transition:0.5s color ease;
	text-decoration:none;
	color:#81b3d2;
	font-size:2.2em;
}
a:hover{
	color:#FFF;
}
.Länkar
{
	font-size:1.2em;
	text-decoration:underline;
}
