@charset "utf-8";
@font-face
{
    font-family: "Header_font";
    src: url("../Fonts/LEIXO-DEMO.ttf");
}
@font-face
{
    font-family: "numbers";
    src: url("../Fonts/VCR_OSD_MONO_1.001.ttf");
}
@font-face
{
    font-family: "tenum";
    src: url("../Fonts/LemonMilk.otf");
}
@font-face
{
    font-family: "Regular";
    src: url("../Fonts/Champagne & Limousines.ttf");
}
*
{
    box-sizing: border-box;
}
#bigbox
{
    background-color: #FFF;
    height: 900px;
    width:100%;
}
form
{
    border: 3px solid #f1f1f1;
}
#Terms
{
    border: 0px;
    color: black;
}
#loginbody
{
    margin: 5%;
    margin-top: 2%;
    background-color: #00BFFF;
}
b
{
    font-family: "Regular";
    font-size: 20px;
}
.container_login
{
    padding: 16px;
    background-color: #87CEFA;
}
#loginform
{
    font-family: "Header_font";
    color: #FFF;
    font-size: 50px;
    text-align: center;

}
#cancelbtn
{
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#submitbtn
{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
label
{
    float: left;
}
.cancelbtn {
    width: 100%;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}
span.psw {
    float: right;
    padding-top: 16px;
}
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
#logininput
{
    width: 100%;
    height: 7%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}
body
{
    margin: 0px;
}
header
{
    height: 25%;
    width: 75%;
    background-color: #5b0fbf;
    float:left;
    text-align: center;
}
#miniheader
{
    height: 25%;
    width: 25%;
    background-color: #440696;
    float: left;
}

#container
{
    margin: 0 auto;
    height:207px;
    width:1269px;
}
#snake_length, #Last_length, #snake2_length
{
    font-size: 40px;
    margin: 0;
    margin-left: 3%;
    margin-top: 5px;
    color: #2a82ef;
    float: left;
}
#singleplayer_length
{
    float: left;
}
#bet_length
{
    font-family: "Header_font";
    color: #FFF;
    font-size: 22px;
    margin-left: 4%;
    margin-top: 2%;
    float: left;
}
#btn_bet
{
    width: 20%;
    height: 20%;
    float: left;
    margin-top: 3%;
    margin-left: 40%;
}
.container_betting
{
    float: left;
    margin-left: 3%;
    border: 3px solid #000;
    color: #FFF;
    width: 40%;
    height: 40%;
    padding: 16px;
    background-color: #383838;
}
input
{
    float: left;
    width: 60%;
    height: 20%;
    margin-top: 2%;
}
h1
{
    font-family: "Header_font";
    color: #FFF;
    font-size: 102px;
    margin-top: 40px;
    text-shadow: 3px 3px 2px #1a1a1a;
}
h2
{
    font-family: "Header_font";
    /*font-size: 36px;*/
    /*text-align: center;*/
    /*margin-left: 800px;*/

}
h3
{
    font-family: "numbers";
    font-size: 24px;
    color: #2a82ef;
    margin-left: 15%;
}
h4
{
    font-family: "Header_font";
    font-size: 24px;
    color: #2a82ef;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}
h5
{
    font-family: "Header_font";
    font-size: 24px;
    margin: 0;
}
p
{
    float: left;
    text-align: left;
    border: 2px solid;
    color: #FFF;
    width: 30%;
    margin-left: 2%;
    
}
#history_snake
{
    margin-left: 5%;
}
img
{
    margin-left: 20%;
    margin-top: 20%;
}
#instruct
{
    margin: 0;
    margin-left: 3%;
    margin-top: 1%;
    float: left;
}
#ove_pic
{
    width: 26%;
}
#ove
{
    margin:0;
    margin-left: 2%;
    margin-top: 2%;
}

.phpbtn
{
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 30px;
    text-decoration: none;
    margin: 4.5%;
    margin-left: 8.5%;
    color: #fff;
    display: inline-block;
    width: 80%;
    text-align: center;
    background-color: #0e5cba;
    box-shadow: 0px 5px 0px 0px #0b468e;
}
.phpbtn:active
{
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
}

nav
{
    height: 6%;
    width: 100%;
    background-color: #0e5cba;
    float: left;
}
ul
{
    list-style:none;
    background-color:#444;
    text-align:center;
    padding:0;
    margin:0;
}
li
{
    color:#000000;
    line-height:55px;
    height:100%;
    width:25%;
    float:left;
    font-size: 30px;
    font-family: "Header_font";
}
a
{
    text-decoration: none;
}
.linkhover {
    transition: 0.4s;
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
}
.linkhover:hover {
    background-color: #ffffff;
    color: #000000;
    padding: 9.5px 10px;
}
article
{
    height:660px;
    width:75%;
    background-color: #212121;
    float: left;
}
#myContainer
{
    margin-left: 1%;
    margin-top: 1%;
    float: left;
}
aside
{
    height:660px;
    width: 25%;
    background-color: #212121;
    float: left;
}
.user
{
    margin-left: 10%;
    margin-top: 5%;
}
.pass
{
    margin-left: 10%;
    margin-top: 5%;
}

@media only screen and (max-width: 1700px) {
    #bigbox
    { width: 100%; }
    nav
    { width: 100%; }
    header
    { width: 75%; }
    #miniheader
    { width: 25%; }
    article
    { width: 75%; }
    aside
    { width: 25%; }
}
@media only screen and (max-width: 1480px) {
    #bigbox
    { width: 100%; }
    nav
    { width: 100%; }
    header
    { width: 75%; }
    #miniheader
    { width: 25%; }
    article
    { width: 75%; }
    #snake_length, #Last_length, #snake2_length
    { font-size: 25px; }
    .container_betting
    {
        width: 30%;
        height: 28%;
    }
    #bet_length
    {
        font-size: 16px;
    }
    p
    {
        width: 20%;
    }
    input
    {
        width: 55%;
    }
    aside
    { width: 25%; }
}

@media only screen and (max-width: 1280px)
{
    article
    {
        width: 75%;
        height: 900px;
    }
    .container_betting
    {
        width: 70%;
        height: 28%;
    }
    aside
    {
        height: 900px;
    }
    #instruct
    {
        float: top;
    }
}
@media only screen and (max-width: 700px) {
    #bigbox
    {
        width: 100%;
        height: 1300px;
    }
    h1
    {
        font-size: 75px;
        margin: 5px;
    }
    nav
    {
        width: 100%;
        height: 50px;
    }
    header
    {
        width: 100%;
        height: 100px;
    }
    #miniheader
    {
        width: 100%;
        height: 50px;
    }
    .phpbtn
    {
        margin: 0;
        margin-left: 5px;
        margin-top: 7px;
        width: 47%;
        line-height: 1px;
        font-size: 20px;
    }
    #snake_length, #Last_length, #snake2_length
    { font-size: 28px; }
    #instruct
    {
        font-size: 30px;
    }
    p
    {
        width: 50%;
    }
    #ove
    {
        width: 10%;
        height: 20%;
    }
    .container_betting
    {
        width: 70%;
        height: 28%;
    }
    .linkhover
    { font-size: 20px; }
    li
    { line-height: 42.5px;}
    .linkhover:hover
    { padding: 12.8px 10px; }

    article
    {
        width: 100%;
        height: 50%;
    }
    h4, h3
    {
        font-size: 22px;
        margin-left: 3%;
    }
    aside
    {
        width: 100%;
        height: 50%;
    }
}
/*
@media only screen and (max-width: 490px)
{
    #bigbox
    {
        height: 1600px;
    }
    h1
    {
        font-size: 60px;
        margin-top: 15px;
    }
    header
    {
        width: 100%;
        height: 100px;
    }
    #miniheader
    {
        width: 100%;
        height: 50px;
    }
    .phpbtn
    {
        width: 47%;
        float: left;
        margin: 0;
        margin-left: 5px;
        margin-top: 8px;
        font-size: 20px;
    }
    article
    {
        width: 100%;
        height: 70%;
    }
    h4, h3
    {
        font-size: 18px;
        margin-left: 3%;
    }
    #snake_length, #Last_length, #snake2_length
    { font-size: 22px; }
    .container_betting
    {
        width: 80%;
        height: 25%;
    }
    aside
    {
        width: 100%;
        height: 60%;
    }
    #bet_length
    {
        font-size: 14px;
        margin-top: 6%;
    }
    #btn_bet
    {
        height: 15%;
    }
    input
    {
        width: 55%;
    }
    .linkhover
    { font-size: 17px; }
    li
    { line-height: 40px;}
    .linkhover:hover
    { padding: 15.5px 10px; }
    article
    { width: 75%; }
    aside
    { width: 25%; }
}
*/
/*
@media only screen and (max-width: 340px)
{
    #bigbox
    { width: 100%; }
    h1
    {
        font-size: 40px;
        margin-top: 25px;
    }
    header
    {
        width: 100%;
        height: 100px;
    }
    #miniheader
    {
        width: 100%;
        height: 50px;
    }
    .phpbtn
    {
        width: 47%;
        float: left;
        margin: 0;
        margin-left: 5px;
        margin-top: 8px;
        font-size: 15px;
    }
    article
    { width: 75%; }
    aside
    { width: 25%; }
    .linkhover
    { font-size: 13px; }
    li
    { line-height: 37px;}
    .linkhover:hover
    { padding: 17px 10px; }
}
*/
